@import "reset.css";

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #efefef;
}

section {
  border-bottom: 2px solid #afafaf;
  position: relative;
}

section > header {
  font-weight: bold;
}

span.big {
  display: block;
  margin-top: 10px;
}

span.li_span_big {
  font-weight: bold;
  margin-top: 15px;
}

span.li_span_small {
  margin-left: 50px;
}

ul {
  margin-top: 0px;
}

li {
  list-style: none;
}
