@import "./util/remote.css"; /* 리모컨 */
@import "./util/modal.css"; /* 모달창 */
@import "./util/swiper.css"; /* 슬라이드 기능 - swiper js */

/* === 팝업 버튼 === */
.button_open_modal {
  background-color: black;
  border-radius: 4px;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
  width: 150px;
  height: 40px;
  cursor: pointer;
}

.button_open_modal:hover {
  opacity: 0.6;
}
/* === 팝업 버튼 === */
