---
layout: page
# The Home page layout
---

<style>
  #technical-skills-block {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 5%;
  }
</style>

<h2 id="about-me"><span class="mr-2">About Me</span><a href="#about-me" class="anchor text-muted"><i class="fas fa-hashtag"></i></a></h2>

<h3 id="intro"><span class="mr-2">Intro</span><a href="#intro" class="anchor text-muted"><i class="fas fa-hashtag"></i></a></h3>
<hr>
<p><span style="font-size: 2rem;font-weight: 800;">안녕하세요, 낭만을 즐기는 개발자 <span style="color: #3a7bd5;font-size: 2.4rem;">이상원</span>입니다.</span><br><br><br>
<span style="font-size: 1.2rem;">
현재 서울에서 자바 백엔드 개발자로 일하고 있습니다.<br/>
개발자로서 새롭게 배우는 것과 깊이 배우는 것을 멈추지 않고,<br/>
습득한 지식들과 겪었던 경험들을 토대로 퀄리티 높은 서비스를 만드는 것을 목표로 삼고<br/>
열심히 달려나가고 있습니다.
</span></p>

<br>
<br>

<h3 id="work-experience"><span class="mr-2">Work Experience</span><a href="#work-experience" class="anchor text-muted"><i class="fas fa-hashtag"></i></a></h3>
<hr>
<h4 id="주-크림하우스"><span class="mr-2">(주) 크림하우스</span><a href="#주-크림하우스" class="anchor text-muted"><i class="fas fa-hashtag"></i></a></h4>
<p><code class="language-plaintext highlighter-rouge">2022.11.22 ~</code> 자바 백엔드 개발자</p>
<ul>
  <li><strong>어르신 건강관리 기능개선</strong> : 전반적인 구조 개편 및 기능 개선을 통한 성능 향상</li>
  <li><strong>제주유나이티드FC 홈페이지/앱 개발</strong> : 선수단 관련 API 담당, 공통된 처리를 위한 개발 가이드의 일부분을 정의</li>
  <li><strong>데보션 앱 개발 및 개선</strong> : 앱에서 사용되는 API 전반을 담당, 앱 개선 작업 시 최적화를 통한 메모리 경량화 작업 담당</li>
</ul>
<h4 id="주-퀀텀에듀솔루션"><span class="mr-2">(주) 퀀텀에듀솔루션</span><a href="#주-퀀텀에듀솔루션" class="anchor text-muted"><i class="fas fa-hashtag"></i></a></h4>
<p><code class="language-plaintext highlighter-rouge">2021.02.26 ~ 2021.05.25</code> 자바 백엔드 개발자</p>
<ul>
  <li><strong>국가민방위재난안전교육원 운영 및 유지보수</strong> : 쿼리 튜닝 작업 담당</li>
</ul>

<br>
<br>

<h3 id="skills"><span class="mr-2">Skills</span><a href="#skills" class="anchor text-muted"><i class="fas fa-hashtag"></i></a></h3>
<hr>
<div id="technical-skills-block">
  <div>
    <h4 id="language"><span class="mr-2">Language</span></h4>
    <ul style="padding-inline-start: 0;">
      <li><strong>Java</strong></li>
      <li><strong>JavaScript</strong></li>
      <li>SQL</li>
      <li>Dart</li>
    </ul>
  </div>
  <div>
    <h4 id="framework--library"><span class="mr-2">Framework &amp; library</span></h4>
    <ul style="padding-inline-start: 0;">
      <li><strong>Spring Framework/Boot</strong></li>
      <li>React.js</li>
      <li>Flutter</li>
    </ul>
  </div>
  <div>
    <h4 id="communication"><span class="mr-2">Communication</span></h4>
    <ul style="padding-inline-start: 0;">
      <li>Slack</li>
      <li>Jira</li>
    </ul>
  </div>
</div>

<br>
<br>

<h2 id="contact-me"><span class="mr-2">Contact Me</span><a href="#contact-me" class="anchor text-muted"><i class="fas fa-hashtag"></i></a></h2>
<hr/>
<ul>
  <li>이메일 (구글) : <code class="language-plaintext highlighter-rouge">leews0724@gmail.com</code></li>
  <li>이메일 (네이버) : <code class="language-plaintext highlighter-rouge">leews0724@naver.com</code></li>
  <li>깃허브 : <a href="https://github.com/sangwon0724"><code class="language-plaintext highlighter-rouge">https://github.com/sangwon0724</code></a></li></ul>


<br>
<br>

<h3 id="go-about"><span class="mr-2">더보기</span><a href="#go-about" class="anchor text-muted"><i class="fas fa-hashtag"></i></a></h3>
<hr>
저에 대한 자세한 정보는 <a href="/about/">[링크]</a>를 눌러주세요!


{% assign pinned = site.posts | where: "pin", "true" %}
{% assign default = site.posts | where_exp: "item", "item.pin != true and item.hidden != true" %}

{% assign posts = "" | split: "" %}

<!-- Get pinned posts -->

{% assign offset = paginator.page | minus: 1 | times: paginator.per_page %}
{% assign pinned_num = pinned.size | minus: offset %}

{% if pinned_num > 0 %}
  {% for i in (offset..pinned.size) limit: pinned_num %}
    {% assign posts = posts | push: pinned[i] %}
  {% endfor %}
{% else %}
  {% assign pinned_num = 0 %}
{% endif %}

<!-- Get default posts -->

{% assign default_beg = offset | minus: pinned.size %}

{% if default_beg < 0 %}
  {% assign default_beg = 0 %}
{% endif %}

{% assign default_num = paginator.posts | size | minus: pinned_num  %}
{% assign default_end = default_beg | plus: default_num | minus: 1 %}

{% if default_num > 0 %}
  {% for i in (default_beg..default_end) %}
    {% assign posts = posts | push: default[i] %}
  {% endfor %}
{% endif %}
{% if page.tags %}
  {% for tag in page.tags %}
    <span class="tag">{{ tag }}</span>
  {% endfor %}
{% endif %}
<div id="post-list">

{% for post in posts %}

  <div class="post-preview">
    <h1>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </h1>

    <div class="post-content">
      <p>
        {% include no-linenos.html content=post.content %}
        {{ content | markdownify | strip_html | truncate: 200 | escape }}
      </p>
    </div>

    <div class="post-meta text-muted d-flex">
      <div class="mr-auto">

        <!-- posted date -->
        <i class="far fa-calendar fa-fw"></i>
        {% include datetime.html date=post.date %}

        <!-- categories -->
        {% if post.categories.size > 0 %}
          <i class="far fa-folder-open fa-fw"></i>
          <span>
          {% for category in post.categories %}
            {{ category }}
            {%- unless forloop.last -%},{%- endunless -%}
          {% endfor %}
          </span>
        {% endif %}

      </div>

      {% if post.pin %}
      <div class="pin">
        <i class="fas fa-thumbtack fa-fw"></i>
        <span>{{ site.data.locales[site.lang].post.pin_prompt }}</span>
      </div>
      {% endif %}

    </div> <!-- .post-meta -->

  </div> <!-- .post-review -->

{% endfor %}

</div> <!-- #post-list -->

{% if paginator.total_pages > 0 %}
  {% include post-paginator.html %}
{% endif %}
